extends layout

block content
  h1 GIF 채팅방
  fieldset
    legend 채팅방 목록
    table
      thread
        tr
          th 방제목
          th 종류
          th 허용 인원
          th 방장
        tbody
          for room in rooms
            tr(data-id=room._id)
              td=room.title
              td=room.password ? '비밀방' : '공개방'
              td=room.max
              td(style='color:'+room.owner)=room.owner
              -var password=room.password? 'true' : 'false';
              td: button(data-password=password data-id=room._id).join-btn 입장
  .error-message=error
  a(href='/room') 채팅방 생성
  script(src='/socket.io./socket.io.js')
  scirpt.
  